<%= form_for(@shoppingcart) do |f| %>
  <% if @shoppingcart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shoppingcart.errors.count, "error") %> prohibited this shoppingcart from being saved:</h2>

      <ul>
      <% @shoppingcart.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shopper_id %><br />
    <%= f.number_field :shopper_id %>
  </div>
  <div class="field">
    <%= f.label :final_price %><br />
    <%= f.text_field :final_price %>
  </div>
  <div class="field">
    <%= f.label :discount %><br />
    <%= f.text_field :discount %>
  </div>
  <div class="field">
    <%= f.label :mrp_price %><br />
    <%= f.text_field :mrp_price %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
