<h1>Listing shoppingcarts</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Shopper_ID</th>
    <th>Final price</th>
    <th>Duration</th>
    <th>Discount</th>
    <th>Mrp price</th>
    <th>State</th>
	<th>Retailer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shoppingcarts.each do |shoppingcart| %>
  <tr>
    <td><%= shoppingcart.id %></td>
    <td><%= shoppingcart.shopper_id %></td>
    <td><%= shoppingcart.final_price %></td>
    <td><%= shoppingcart.duration %></td>
    <td><%= shoppingcart.discount %></td>
    <td><%= shoppingcart.mrp_price %></td>
    <td><%= shoppingcart.state %></td>
	<td><%= shoppingcart.retailer_id %></td>
    <td><%= link_to 'Show', shoppingcart %></td>
    <td><%= link_to 'Edit', edit_shoppingcart_path(shoppingcart) %></td>
    <td><%= link_to 'Destroy', shoppingcart, :confirm=>'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shoppingcart', new_shoppingcart_path %>
