<p id="notice"><%= notice %></p>

<p>
  <b>Shopper:</b>
  <%= @shoppingcart.shopper_id %>
</p>

<p>
  <b>Final price:</b>
  <%= @shoppingcart.final_price %>
</p>

<p>
  <b>Duration:</b>
  <%= @shoppingcart.duration %>
</p>

<p>
  <b>Discount:</b>
  <%= @shoppingcart.discount %>
</p>

<p>
  <b>Mrp price:</b>
  <%= @shoppingcart.mrp_price %>
</p>

<p>
  <b>State:</b>
  <%= @shoppingcart.state %>
</p>

<p>
  <b>Retailer:</b>
  <%= ((@retailer = Retailer.find_by_id(@shoppingcart.retailer_id)) == nil)? "None": "#{@retailer.id} - #{@retailer.name}" %>
</p>


<%= link_to 'Edit', edit_shoppingcart_path(@shoppingcart) %> |
<%= link_to 'Back', shoppingcarts_path %>
