<%= form_for(@categ) do |f| %>
  <% if @categ.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@categ.errors.count, "error") %> prohibited this categ from being saved:</h2>

      <ul>
      <% @categ.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cid %><br />
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :categname %><br />
    <%= f.text_field :categname %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
