<table>
  <tr>
    <th>Subcategory</th>
    <th>Product</th>
    <th>Brand</th>
    <th>Variant</th>
    <th>Size</th>
    <th>Mrp</th>
    <th>Sellprice</th>
    <th>Uom</th>
  </tr>
<% @categ.each do |categ| %>
  <tr>
    <td><%= categ.subcategory %></td>
    <td><%= categ.product %></td>
    <td><%= categ.brand %></td>
    <td><%= categ.variant %></td>
    <td><%= categ.size %></td>
    <td><%= categ.mrp %></td>
    <td><%= categ.sellprice %></td>
    <td><%= categ.uom %></td>
  </tr>
<% end %>
</table>