<h1>Listing categs</h1>

<table>
  <tr>
    <th>Cid</th>
    <th>Categname</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categs.each do |categ| %>
  <tr>
    <td><%= categ.cid %></td>
    <td><%= categ.categname %></td>
    <td><%= categ.order %></td>
    <td><%= link_to 'Show', categ %></td>
    <td><%= link_to 'Edit', edit_categ_path(categ) %></td>
    <td><%= link_to 'Destroy', categ, :confirmi=> 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Categ', new_categ_path %>
