<p id="notice"><%= notice %></p>

<p>
  <b>Cid:</b>
  <%= @categ.cid %>
</p>

<p>
  <b>Categname:</b>
  <%= @categ.categname %>
</p>

<p>
  <b>Order:</b>
  <%= @categ.order %>
</p>

<p>
  <b>Categ:</b>
  <%= @categ.Categ %>
</p>

<p>
  <b>Product:</b>
  <%= @categ.Product %>
</p>


<%= link_to 'Edit', edit_categ_path(@categ) %> |
<%= link_to 'Back', categs_path %>
