<%= form_for(@shopper) do |f| %>
  <% if @shopper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shopper.errors.count, "error") %> prohibited this shopper from being saved:</h2>
      <ul>
      <% @shopper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mobile %><br />
    <%= f.text_field :mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :userid %><br />
    <%= f.text_field :userid %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :role %><br />
    <%= select("shopper", "role", { "shopper - can only place orders" => "shopper", "retailer - can only view/process orders" => "retailer", "retailer & shopper - retailer who can also shop (testing)" => "shopper,retailer",  "admin - can only create shoppers/retailers" => "admin" } ) %>
	<!-- , "shopper retailer & admin" => "shopper,retailer,admin", -->
  </div>
  <div class="field">
    <br />
	<%= f.label :retailer %><br />
    <%= select("shopper", "retailer_id", Retailer.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
	<br /><br /><hr/>
  </div>
  <div class="actions">
    <%= f.submit "Register" %>
  </div>
<% end %>
