<%= form_tag("/shoppers/login_check" , :method => "post") %>

<div>User ID: <%= text_field_tag 'userid' %></div>
<div>Password: <%= password_field_tag 'password' %></div>
<%= submit_tag "Login" %>
</form>
