

<div data-role="page" id="register_page" onmouseover="redirectToHome()">
	<div class="main_logo"><img src="/images/jiffeez_logo_25.png" /></div>
	
<a href="#" data-role="button" data-inline="true" data-theme="b" id="login_button_link">Sign in</a>
<a href="#" data-role="button" data-inline="true" data-theme="b" id="register_button_link">Register</a>
</div>	



<script>
  	
	if(localStorage.jiffeez_user_status == 'Login')
	{
		document.getElementById("login_button_link").style.display = "none";
		document.getElementById("register_button_link").style.display = "none";
	}
	else
	{
		document.getElementById("login_button_link").style.display = "block";
		document.getElementById("register_button_link").style.display = "block";
	}
	
	function redirectToHome()
	{
		if(localStorage.jiffeez_user_status == 'Login')
		{
			window.location.href = ("http://" + window.location.hostname + '/products/choose');	
		}
	}
	
</script>