<h1>Listing shoppers</h1>

<style>
  table
  {
	border-collapse:collapse;
  }
  table, th, td
  {
	border: 1px dotted gainsboro;
  }
</style>
<table>
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Address</th>
    <th>Userid</th>
	<th>Role</th>
    <th>Password</th>
    <th>Location</th>
	<th>Retailer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shoppers.each do |shopper| %>
  <tr>
    <td><%= shopper.name %></td>
    <td><%= shopper.mobile %></td>
    <td><%= shopper.address %></td>
    <td><%= shopper.userid %></td>
	<td><%= shopper.role %></td>
    <td><%= shopper.password %></td>
    <td><%= shopper.location %></td>
	<td><%= shopper.retailer_id %></td>
    <td><%= link_to 'Show', shopper %></td>
    <td><%= link_to 'Edit', edit_shopper_path(shopper) %></td>
	<!-- <td><%= link_to 'Copy', copy_shopper_path(shopper) %></td> -->

  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shopper', new_shopper_path %>
