
<div data-role="page" id="order_page">
  <script>
	jQuery('#order_page').live('pageinit',function(event){
	  retailer_order();
	});
  </script>

  <div data-theme="b" data-role="header">
	<h3>
	  jiffeez <%=@shopper.name%>
	</h3>
	<a data-role="button" data-transition="reverse" data-rel="back" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left">
	  Back
	</a>
	<a data-role="button" data-direction="reverse" data-transition="slide" data-theme="e" href="#categpage" onclick="shopping_categpage()" data-icon="home" data-iconpos="notext">
	</a>
  </div>
  <div data-role="content" class="white">
	<div>
	  <ul data-role="listview" id="in-process" > </ul>
	</div>
  </div>
</div>

<div data-role="page" id="shoppingcart_page">
  <script>
	jQuery('#shoppingcart_page').live('pageinit',function(event){
	  shoppingcart_display();
	});
	function changePage(){
	  jQuery(document).trigger('simpledialog', {'method':'close'});
	  if(globalCatId == null)
		$.mobile.changePage("#categpage");
	  else
		funcsub(globalCatId);
	}
  </script>
  <div data-theme="b" data-role="header">
	<h3>
	  Order Details
	</h3>
  </div>
  <div data-role="content" class="white">
	<div id="purchaseditemlistdiv">
	</div>
  </div>
</div>
