<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shopper.name %>
</p>

<p>
  <b>Mobile:</b>
  <%= @shopper.mobile %>
</p>

<p>
  <b>Address:</b>
  <%= @shopper.address %>
</p>

<p>
  <b>Userid:</b>
  <%= @shopper.userid %>
</p>

<p>
  <b>Password:</b>
  <%= @shopper.password %>
</p>

<p>
  <b>Location:</b>
  <%= @shopper.location %>
</p>

<p>
  <b>Role:</b>
  <%= @shopper.role %>
</p>

<p>
  <b>Retailer:</b>
  <%= ((@retailer = Retailer.find_by_id(@shopper.retailer_id)) == nil)? "None": "#{@retailer.id} - #{@retailer.name}" %>
</p>


<%= link_to 'Edit', edit_shopper_path(@shopper) %> |
<%= link_to 'Back', shoppers_path %>
