.text-align-center {
	text-align: center;
}

.text-align-right {
	text-align: right;
	margin-left: 50px;
}

.text-indent {
	margin-left: 80px!important;
}

.text-align-left {
	text-align: left;
	position: relative;
	display: inline;
}

.plusicon{
	text-align: right;
	right: 0px;
}

.align-left { float:left; margin: 0 0 0 0; }

.white {background-color:#ffffff;} 

div.ex
{
	/*width:%;
	height:%;*/
	padding:10px;
	border:1px solid gray;
	margin:5px;
	border-radius: 5px;
}


.ui-icon-myapp-vegetable {
	background-image: url("iconvegetable.png");
}

/** These were in the choose_onepg.html.erb **/
.ui-btn-inner {
	padding: 0.5em 4px;
	/*padding-top: 0.2em;
	padding-right: 4px;
	padding-bottom: 0.2em;
	padding-left: 4px;
	white-space: wrap; */
}

.clsDeliveryTime .ui-btn-inner {
	padding: 0.2em 4px;
}

.ui-content {
	padding: 3px 3px;
	padding-top: 3px;
	padding-right-value: 3px;
	padding-bottom: 3px;
	padding-left-value: 3px;
	padding-left-ltr-source: physical;
	padding-left-rtl-source: physical;
	padding-right-ltr-source: physical;
	padding-right-rtl-source: physical;
}
.ui-btn {
	display: block;
	margin: 2em 2px;
	margin-top: 0.08em;
	margin-right-value: 2px;
	margin-bottom: 0.08em;
	margin-left-value: 2px;
	padding: 0px;
	padding-top: 0px;
	padding-right-value: 0px;
	padding-bottom: 0px;
	padding-left-value: 0px;
}
.ui-btn-icon-left .ui-btn-inner {
	padding-left: 25px;
	padding-left-value: 25px;
}

.ui-collapsible-content {
	margin: 0px 0px;
}

.ui-collapsible-heading {
	font-size: 22px;
}

.ui-icon-shopping-cart {
	background-image: url("/shoppingcart22-18.png");
}
.ui-listview-filter-inset {
	margin-top:-5px;
}

.ui-listview-filter {
	margin-left: 0;
	margin-right: 0;
}
.mainheaderbar {
	text-align: left!important;
	text-indent: 3em;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	display: inline;
	padding: 2px 0px!important;
	font-size: 20px;
	vertical-align: middle;
	font-weight: bold;
	text-shadow: #000000 1px 1px 1px;
}
.mainheaderbar > a 
{
	text-decoration: none;  
}

#logo
{
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	display: inline;
	font-size: 20px;
	font-weight: bold;
	/*min-width: 100%;
	max-width: 100%;*/
	float: left;
	text-shadow: #000000 1px 1px 1px;
	text-decoration: none;
	/*text-align: center;    */
	margin: 0px 0 0px 0;
	padding: 0px 0 0px 0;
	vertical-align: middle;
}
.ui-header .ui-title, .ui-footer .ui-title {
	margin: 0.5em 0 0.5em;
}
.ui-simpledialog-container {
	border-radius: 1em 1em 1em 1em
}

#itempage .ui-listview-filter:nth-child(n+2) {
	display : none;
}

.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit, .ui-li-static.ui-li-has-thumb {
	min-height: 60px;
	padding-left: 60px;
}

.caption {
	font-weight: bold;
}

/*
a[data-icon="jiffeez"].ui-icon-jiffeez {
    background-image: url("images/jiffeez_small_logo_94.png") !important;
}
*/

.ui-btn-corner-all {
    -moz-border-radius:                 1em /*{global-radii-buttons}*/;
    -webkit-border-radius:              1em /*{global-radii-buttons}*/;
    border-radius:                      5px /*{global-radii-buttons}*/;
}

.ui-icon-jiffeez {
    background-image: url("/images/jiffeez_small_logo_25.png") !important;
}

.jf-tight-space {
	/*vertical-align: top!important;*/
}

a.jf-tight-space span.ui-btn-inner {
	padding: 2px!important;
}

.jf-btn-header {
	border: 1px groove black;
	display: inline-block;
}

.jf-btn-down {
	background: linear-gradient(#7A7430, #FFE155) repeat scroll 0 0 #FADB4E!important;
}

.jf-toolbar-right {
	margin-top: 3px;
}

.jf-btn-action {
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 30px;
}

.jf-hidden {
	display:none!important;
}