<%= form_for(@subcateg) do |f| %>
  <% if @subcateg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcateg.errors.count, "error") %> prohibited this subcateg from being saved:</h2>

      <ul>
      <% @subcateg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :subcid %><br />
    <%= f.number_field :subcid %>
  </div>
  <div class="field">
    <%= f.label :cid %><br />
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :subcategname %><br />
    <%= f.text_field :subcategname %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :Subcateg %><br />
    <%= f.text_field :Subcateg %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
