<h1>Listing subcategs</h1>

<table>
  <tr>
    <th>Subcid</th>
    <th>Cid</th>
    <th>Subcategname</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcategs.each do |subcateg| %>
  <tr>
    <td><%= subcateg.subcid %></td>
    <td><%= subcateg.cid %></td>
    <td><%= subcateg.subcategname %></td>
    <td><%= subcateg.order %></td>
    <td><%= link_to 'Show', subcateg %></td>
    <td><%= link_to 'Edit', edit_subcateg_path(subcateg) %></td>
    <td><%= link_to 'Destroy', subcateg, :confirm=> 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcateg', new_subcateg_path %>
