<p id="notice"><%= notice %></p>

<p>
  <b>Subcid:</b>
  <%= @subcateg.subcid %>
</p>

<p>
  <b>Cid:</b>
  <%= @subcateg.cid %>
</p>

<p>
  <b>Subcategname:</b>
  <%= @subcateg.subcategname %>
</p>

<p>
  <b>Order:</b>
  <%= @subcateg.order %>
</p>

<p>
  <b>Product:</b>
  <%= @subcateg.Product %>
</p>

<p>
  <b>Subcateg:</b>
  <%= @subcateg.Subcateg %>
</p>


<%= link_to 'Edit', edit_subcateg_path(@subcateg) %> |
<%= link_to 'Back', subcategs_path %>
