.container_12 .alpha { clear-left: 0; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12
{ margin: 0; padding: 0; border: 0; float: left; }

.container_12 { overflow: hidden !important; }

.container_12 .grid_1 {
	width: 8.333333333333334%;
}
.container_12 .grid_2 {
	width: 16.666666666666668%;
}
.container_12 .grid_3 {
	width: 42px;
	height:33px;
	margin: 1px 0 0;
}



/*Sprite images position on home screen............................ */

.container_12 .grid_3_1 {
	background:url('sprites.png') -2px -9px transparent;
}
.container_12 .grid_3_2 {
	background:url('sprites.png')  -55px -7px transparent;
}
.container_12 .grid_3_3 {
	background:url('sprites.png') -1px -57px transparent;
}
.container_12 .grid_3_4 {
	background:url('sprites.png') -53px -59px transparent;
}
.container_12 .grid_3_5 {
	background:url('sprites.png') -4px -106px transparent;
}
.container_12 .grid_3_6 {
	background:url('sprites.png') -55px -109px transparent;
}
.container_12 .grid_3_7 {
	background:url('sprites.png') -2px -157px transparent;
}
.container_12 .grid_3_8 {
	background:url('sprites.png') -54px -157px transparent;
}
.container_12 .grid_3_9 {
	background:url('sprites.png') -3px -205px transparent;
}
.container_12 .grid_3_10 {
	background:url('sprites.png') -54px -206px transparent;
}
.container_12 .grid_3_11 {
	background:url('sprites.png') -2px -257px transparent;
}
.container_12 .grid_3_12 {
	background:url('sprites.png') -56px -255px transparent;
}
.container_12 .grid_3_13 {
	background:url('sprites.png') -4px -306px transparent;
}
.container_12 .grid_3_14 {
	background:url('sprites.png') -53px -309px transparent;
}
.container_12 .grid_3_15 {
	background:url('sprites.png') -2px -357px transparent;
}
.container_12 .grid_3_16 {
	background:url('sprites.png') -53px -357px transparent;
}

/********************************************************************/

sprites.png
.container_12 .grid_4 {
	width: 33.333333333333336%;
}
.container_12 .grid_5 {
	width: 41.66666666666667%;
}
.container_12 .grid_6 {
	width: 49.50%;
	overflow:hidden;
	
}
.container_12 .grid_7 {
	width: 58.333333333333336%;
}
.container_12 .grid_8 {
	width: 66.66666666666667%;
}
.container_12 .grid_9 {
	width: 70%;
}
.container_12 .grid_10 {
	width: 83.33333333333334%;
}
.container_12 .grid_11 {
	width: 91.66666666666667%;
}
.container_12 .grid_12 {
	width: 100%;
}

.container_12 .prefix_1 {
	padding-left: 8.333333333333334%;
}
.container_12 .prefix_2 {
	padding-left: 16.666666666666668%;
}
.container_12 .prefix_3 {
	padding-left: 25%;
}
.container_12 .prefix_4 {
	padding-left: 33.333333333333336%;
}
.container_12 .prefix_5 {
	padding-left: 41.66666666666667%;
}
.container_12 .prefix_6 {
	padding-left: 50%;
}
.container_12 .prefix_7 {
	padding-left: 58.333333333333336%;
}
.container_12 .prefix_8 {
	padding-left: 66.66666666666667%;
}
.container_12 .prefix_9 {
	padding-left: 75%;
}
.container_12 .prefix_10 {
	padding-left: 83.33333333333334%;
}
.container_12 .prefix_11 {
	padding-left: 91.66666666666667%;
}
.container_12 .prefix_12 {
	padding-left: 100%;
}

.container_12 .suffix_1 {
	padding-right: 8.333333333333334%;
}
.container_12 .suffix_2 {
	padding-right: 16.666666666666668%;
}
.container_12 .suffix_3 {
	padding-right: 25%;
}
.container_12 .suffix_4 {
	padding-right: 33.333333333333336%;
}
.container_12 .suffix_5 {
	padding-right: 41.66666666666667%;
}
.container_12 .suffix_6 {
	padding-right: 50%;
}
.container_12 .suffix_7 {
	padding-right: 58.333333333333336%;
}
.container_12 .suffix_8 {
	padding-right: 66.66666666666667%;
}
.container_12 .suffix_9 {
	padding-right: 75%;
}
.container_12 .suffix_10 {
	padding-right: 83.33333333333334%;
}
.container_12 .suffix_11 {
	padding-right: 91.66666666666667%;
}
.container_12 .suffix_12 {
	padding-right: 100%;
}

.container_16 .alpha { clear-left: 0; }

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16
{ margin: 0; padding: 0; border: 0; float: left; }

.container_16 { overflow: hidden; }

.container_16 .grid_1 {
	width: 6.25%;
}
.container_16 .grid_2 {
	width: 12.5%;
}
.container_16 .grid_3 {
	width: 18.75%;
}
.container_16 .grid_4 {
	width: 25%;
}
.container_16 .grid_5 {
	width: 31.25%;
}
.container_16 .grid_6 {
	width: 37.5%;
}
.container_16 .grid_7 {
	width: 43.75%;
}
.container_16 .grid_8 {
	width: 50%;
}
.container_16 .grid_9 {
	width: 56.25%;
}
.container_16 .grid_10 {
	width: 62.5%;
}
.container_16 .grid_11 {
	width: 68.75%;
}
.container_16 .grid_12 {
	width: 75%;
}
.container_16 .grid_13 {
	width: 81.25%;
}
.container_16 .grid_14 {
	width: 87.5%;
}
.container_16 .grid_15 {
	width: 93.75%;
}
.container_16 .grid_16 {
	width: 100%;
}

.container_16 .prefix_1 {
	padding-left: 6.25%;
}
.container_16 .prefix_2 {
	padding-left: 12.5%;
}
.container_16 .prefix_3 {
	padding-left: 18.75%;
}
.container_16 .prefix_4 {
	padding-left: 25%;
}
.container_16 .prefix_5 {
	padding-left: 31.25%;
}
.container_16 .prefix_6 {
	padding-left: 37.5%;
}
.container_16 .prefix_7 {
	padding-left: 43.75%;
}
.container_16 .prefix_8 {
	padding-left: 50%;
}
.container_16 .prefix_9 {
	padding-left: 56.25%;
}
.container_16 .prefix_10 {
	padding-left: 62.5%;
}
.container_16 .prefix_11 {
	padding-left: 68.75%;
}
.container_16 .prefix_12 {
	padding-left: 75%;
}
.container_16 .prefix_13 {
	padding-left: 81.25%;
}
.container_16 .prefix_14 {
	padding-left: 87.5%;
}
.container_16 .prefix_15 {
	padding-left: 93.75%;
}
.container_16 .prefix_16 {
	padding-left: 100%;
}

.container_16 .suffix_1 {
	padding-right: 6.25%;
}
.container_16 .suffix_2 {
	padding-right: 12.5%;
}
.container_16 .suffix_3 {
	padding-right: 18.75%;
}
.container_16 .suffix_4 {
	padding-right: 25%;
}
.container_16 .suffix_5 {
	padding-right: 31.25%;
}
.container_16 .suffix_6 {
	padding-right: 37.5%;
}
.container_16 .suffix_7 {
	padding-right: 43.75%;
}
.container_16 .suffix_8 {
	padding-right: 50%;
}
.container_16 .suffix_9 {
	padding-right: 56.25%;
}
.container_16 .suffix_10 {
	padding-right: 62.5%;
}
.container_16 .suffix_11 {
	padding-right: 68.75%;
}
.container_16 .suffix_12 {
	padding-right: 75%;
}
.container_16 .suffix_13 {
	padding-right: 81.25%;
}
.container_16 .suffix_14 {
	padding-right: 87.5%;
}
.container_16 .suffix_15 {
	padding-right: 93.75%;
}
.container_16 .suffix_16 {
	padding-right: 100%;
}

/*
  Edited By : Rahul Pandekar
  Date : 26-Feb-2012
 *page: Retailer order Detaile
 *  
 * */

#retailer_purchaseditemlist .container_16  .edit_icon_1
{
	margin: 0 0 -3px 4px;
}

#retailer_purchaseditemlist .container_16  .edit_value_1
{
	width: 50px;
	margin: 0;
	float:left;
}

#retailer_purchaseditemlist .container_16  .edit_content
{
	display: none;
    padding: 0;
    margin:3px 0 0 0px;
}

#retailer_purchaseditemlist .container_16  .order_value1
{
	float: left;
    margin: 8px 0 0;
}


#retailer_purchaseditemlist .container_16  .edit_content .check_icon_1
{
	margin: 0 2px 0 0;
	float:left;
}

#retailer_purchaseditemlist .container_16  .edit_content .delete_icon_1
{
	float:left;
	margin: 0 0 0 4px;
}

#retailer_purchaseditemlistdiv .container_16 .removeFromCartIcon1
{
	float:right;
}

/*
#retailer_purchaseditemlistdiv .container_16 .edit_content_parent
{
	float:left;
	width:50%;
}
*/

/***********************/


/***** Following css is for Header Popup Menu*****************/
.container_12 .grid_6 .paperbag1
{
	width:42px;
	height:40px;
	background:url('sprites2.png') -4px -6px; 
}

.container_12 .grid_6 .favorite1
{
	width:42px;
	height:40px;
	background:url('sprites2.png') -55px -6px; 
}

.container_12 .grid_6 .about1
{
	width:42px;
	height:40px;
	background:url('sprites2.png') -3px -53px; 
}

.container_12 .grid_6 .logout_button
{
	width:40px;
	height:40px;
	background:url('logout_btn.png') no-repeat;
}

.container_12 .grid_6 .my_list_button
{
	width:38px;
	height:38px;
	background:url('list_icon.png') no-repeat;
}


.container_12 .grid_6 .call1
{
	width:42px;
	height:40px;
	background:url('sprites2.png') -54px -58px;
}

.container_12 .grid_6 .ui-btn-inner
{
	  padding: 0.5em 4px 0.4em !important;
}

.container_12 .grid_6 .text-align-right_popup
{
	margin: 8px 0 0 14px;
}




#back_link.ui-btn-active
{
	 background-image: -webkit-gradient(linear,left top,left bottom,from(#ffefaa),to(#ffe155)) !important;
	 background-image: -webkit-linear-gradient(#ffefaa,#ffe155) !important;
	 background-image: -moz-linear-gradient(#ffefaa,#ffe155) !important;
	 background-image: -ms-linear-gradient(#ffefaa,#ffe155) !important;
	 background-image: -o-linear-gradient(#ffefaa,#ffe155) !important;
	 background-image: linear-gradient(#ffefaa,#ffe155) !important;
}

.background-white
{
	 background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#fff)) !important;
	 background-image: -webkit-linear-gradient(#fff,#fff) !important;
	 background-image: -moz-linear-gradient(#fff,#fff) !important;
	 background-image: -ms-linear-gradient(#fff,#fff) !important;
	 background-image: -o-linear-gradient(#fff,#fff) !important;
	 background-image: linear-gradient(#fff,#fff) !important;
}

#shopper_myorders_page .ui-simpledialog-screen,#jiffeez_about .ui-simpledialog-screen
{
	 top: 40px !important;
} 


/********************/

/**
 *  Following css is applied on login form 	
 */

#register_page
{
	background: none repeat scroll 0 0 #4697D2;
}

.main_logo
{
	text-align:center;
	margin-top:200px;
}

.main_logo img
{
	width:135px;
}


.screen_title
{
    margin: 10px 0 10px 6px;
}

#login_form .form_field,#register_form .form_field
{
	float: left;
    width: 100%;
    padding: 0 0 0 2px;
    position: relative;
}

#login_form #login_button,#register_form #register_button
{
	border-radius: 5px 5px 5px 5px;
    margin: 10px 8px 10px 0px;
    float:right;
    
}

#login_form .form_field img,#register_form .form_field img
{
	float: left;
	margin: 6px 0 0;
	position: absolute;
	z-index: 100000;
}


#login_form .form_field .img1,#register_form .form_field .img1
{
	left: 9px;
    top: 8px;
}

#login_form .form_field .img2,#register_form .form_field .img2
{
	left: 9px;
    top: 8px;
}

#register_form .form_field .img3
{
	left: 9px;
    top: 8px;
}

#register_form .form_field .img4
{
	left: 9px;
    top: 8px;
}

#register_form .form_field .img5
{
	left: 12px;
    top: 10px;
}

#login_form .form_field input,#register_form .form_field input
{
	border-radius: 4px 4px 4px 4px;
    float: left;
    margin: 5px;
    padding: 9px 0 9px 30px;
    width: 95%;
    color: grey;
}    

#login_form .bottom_message,#register_form .bottom_message
{
	 margin: 0 0 10px 8px;
	 float:left;
}

#login_form .error_message , #register_form .error_message 
{
	color: red;
	font-size: 12px;
	margin: 2px 9px;
	display:none;
	width:95%;
	float:left;
}

.forget_password_content .error_message 
{
	color: red;
	font-size: 12px;
	margin: 1px 0 4px;
	display:none;
	width:95%;
	float:left;
}

.forget_password_content .confirm_message 
{
	color: green;
	font-size: 12px;
	margin: 2px 0 4px 0;
	float: left;
	width:100%;
	float:left;
	display:none;
}



#register_form .success_message
{
	color: green;
	font-size: 12px;
	margin: 2px 9px;
	display:none;
	width:95%;
	float:left;
}


#login_button_link,#register_button_link
{
	width:25%;
}

#login_button_link
{
	float:left;
	margin:100px 0 0 25px;
}

#register_button_link
{
	float:right;
	margin:100px 25px 0 0;
}

#register_page .login_content
{
	position: relative;
}

#login_close_button,#register_close_button
{
	position: absolute;
    right: -5px;
    top: -12px;
}

#register_form #register_mobile
{
	width:70% !important;
}

#register_form .verify_button
{
	width:20%;
	float:left;
	margin:5px;
}

#register_form .verification_code
{
	float: left !important;
    padding: 9px 0 9px 10px !important;
    width: 30% !important;
}

#register_form .verification_content
{
	float:left;
	width:95%;
}

#register_form .verification_content .verification_code_btn
{
	width:42px;
}

#register_form .email_lable
{
	position:absolute;
	color:gray;
	right: 14px;
    bottom: 14px;
}

#register_form .retype_pwd_lable,#register_form .pwd_lable
{
	position:absolute;
	color:gray;
	left: 38px;
    top: 17px;
}

#login_form .login_pwd_lable
{
	position:absolute;
	color:gray;
	left: 38px;
    top: 17px;
     z-index: 9999;
}

#register_form .register_password_img
{
	left: 12px;
    position: absolute;
    top: 153px;
    z-index: 10000;
}

.ui-input-text.ui-focus, .ui-input-search.ui-focus {
    box-shadow: 0 0 12px #387BBE;
    z-index: 0 !important;
}

#list1
{
	overflow: hidden !important;
}

.forgot_password
{
	float: right;
    padding: 2px 7px 9px 0;
    text-decoration:underline;
    font-size:16px;
    cursor:pointer;
}

.forgot_password a
{
	cursor:pointer;
}

.forget_password_content
{
	padding:10px;
}


.forget_inner_content
{
	margin:10px 0;
}

.forget_inner_content label
{
	color:gray;
	font-size:14px;
}

.forget_inner_content #forget_mobile_no
{
	border-radius:4px;
}

.forget_password_content .message
{
	color:gray;
	margin:10px 0;
	font-size:14px;
}

.forget_password_content #forgot_confirm_button
{
	width: 100px;
	/*margin-left:55px;*/
	margin-top:10px;
	margin-bottom:10px;
}

.forget_password_content #forgot_close_button
{
	width: 100px;
	/*margin-left:55px;*/
	margin-top:15px;
	float:left;
	margin-bottom:10px;
	display:none;
}

.hide
{
display:none;	
}

.register_content
{
	padding-bottom:5px;
}
 
.network_connection
{
	background: none repeat scroll 0 0 #5B92BF;
    color: white;
    height: 80px;
    border-radius: 8px 8px 8px 8px;
} 

.network_connection .inner_content
{
	
    float: left;
    margin: 15px 10px 5px 10px;
    
}

#popup_close_button
{
	position: absolute;
    right: -6px;
    top: -9px;
	
}

#goto_jifeez_button
{
	float:left;
	margin:10px;
	display:none;
	
}

.register_success_message
{
	color:green;
	margin:10px;
	display:none;
}
 
/*******/


/**************Following css is applied on My_list_popup Menu**********/


.my_list_content .my_list_label
{
	color: gray;
    float: left;
    margin: 10px 50px;
}

.my_list_content input[type=text]
{
	margin: 15px;
    width: 90%;
    border-radius: 3px 3px 3px 3px;
}

.my_list_confirm
{
	width:150px;
	margin:10px 24%;
}

.return_to_cart
{
	width:150px;
	margin:10px 24%;
	float:left;
}

.my_list_content .success_message
{
	font-size:14px;
	color:black;
	margin: 3px 5%;
	width:80%;
	float:left;
	
}

.my_list_content .error_message
{
	font-size:14px;
	color:red;
	margin: 3px 5%;
	width:80%;
	float:left;
	
}

#mylist_close_button
{
	position:absolute;
	top: -5px;
	right:-5px;
}

/********************************/

.container_16 .promo_flag
{
	background: url("redFlag.png") no-repeat scroll 0 0 transparent;
    border: 0px solid red;
    float: left;
    height: 25px;
    width: 25px;
    padding:4px;
}
 /*This is a comment*/
.promo_flag_brand_1
{
	background: url("redFlag.png") no-repeat scroll 0 0 transparent;
    border: 0px solid red;
    display: inline-block;
    height: 18px;
    width: 25px;
    margin-left: 2%;
}
 /*This is a comment*/
.promo_flag_brand_0, .promo_flag_brand_false,.promo_flag_brand_undefined,.promo_flag_brand_
{
	display:none;
}

/* commented by sudik
.promo_flag_brand_true
{
	display:block;
}
*/
.logout_jifeez
{
	float: right;
    margin: 0 4px 0 0;
    padding: 0;
    width: 49% !important;
}

.popupmenu_header_bar
{
    border: 0px solid red;
    border-radius: 4px 4px 4px 4px;
    padding: 6px 0;
}

.popupmenu_delete
{
	float:right;
	margin:0 6px;
}
.popupmenu_title
{
	float: left;
    margin: 5px 0 0 113px;
}

.undo_action
{
	background: url("undo_icon.png") no-repeat scroll 0 0 transparent;
    height: 30px;
    width: 30px;
    float:left;
    display:none;
}
 /*This is a comment*/
.undo_action_1
{
	background: url("undo_icon.png") no-repeat scroll 0 0 transparent;
	display: inline;
    float: right;
    height: 30px;
    margin-right: 50px;
    margin-top: -38px;
    width: 30px;
}




