<%= form_for(@retailer) do |f| %>
  <% if @retailer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@retailer.errors.count, "error") %> prohibited this retailer from being saved:</h2>

      <ul>
      <% @retailer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :deliveryTime %><br />
    <%= f.text_field :deliveryTime %>
  </div>
  <div class="field">
    <%= f.label :weeklyException %><br />
    <%= f.number_field :weeklyException %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
