
<!DOCTYPE html> 
<html>
  <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<!--        <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
	<title>
	</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" /> 
	<link type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" rel="stylesheet" /> 
	<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css" />
	<!--<link rel="stylesheet"
				href="http://jquerymobile.com/branches/popup-widget/css/themes/default/jquery.mobile.css"/>-->

	<link rel="stylesheet" href="/styles/choose.css" />
	<style>
	  /* App custom styles */
	</style>
	<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css" />
	<link rel="stylesheet" href="/styles/ninesixty/ninesixty.css">
	<!--		<link rel="stylesheet" href="/960/960-rtl.css">
			<link rel="stylesheet" href="/960/debug.css">
			<link rel="stylesheet" href="/960/reset.css">
			<link rel="stylesheet" href="http://180.149.246.126/Rahul/jiffeez/public/960/styles.css"> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
	</script>
    <script language="JavaScript" type="text/javascript" src="/js/jsrender.js"></script>

	<!--        <script src="http://jquerymobile.com/branches/popup-widget/js/jquery.js"></script>
			<script src="http://jquerymobile.com/branches/popup-widget/js/"></script>-->

	<script>

	  var cookiecartid = "";
	  
	  jQuery(document).bind("mobileinit", function(){

		// $.mobile.autoInitializePage = false;

		//$.mobile.loadingMessageTextVisible = true;
		$.mobile.loadingMessage = 'Loading ....';
		$.mobile.pageLoadErrorMessage = 'Oops... You need a reliable internet connectiont to do this operation!'

		$.mobile.defaultPageTransition = 'none';

		$.mobile.defaultDialogTransition = 'none';

		//$.extend($.mobile.zoom, {locked:true,enabled:false});
		//$.mobile.allowCrossDomainPages = true;

		//$.mobile.ajaxEnabled = false;

		//$.mobile.pushStateEnabled = false;

		//$.mobile.hashListeningEnabled = false;

		//$.mobile.linkBindingEnabledfssdfsdfsdfsdfsdfd = false;
	  }

	);

	</script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script> 

	<script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.js"></script>
	<!--	<script type="text/javascript" src="http://dev.jtsage.com/jQM-SimpleDialog/demos2/extras.js"></script> -->
	<script language="JavaScript" type="text/javascript" src="/js/utils.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/categprint.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/jiffeez_consumer_init.js"></script>
	<script language="JavaScript" type="text/javascript" src="/js/fastclick.js"></script>
  </head>
  <body onload="initFastButtons()">
	<span id="fastclick">

<div data-role="page" id="order_page" data-base="<%= request.path %>" data-url="<%= request.path%>"
  <script>
	jQuery('#order_page').live('pageshow',function(event){
	  retailer_order();
	});  </script>

  <div data-theme="b" data-role="header">
	<h3>
	  jiffeez - Test Retailer - Orders
	</h3>
  </div>
  <div data-role="content" class="white">
	<ul data-role="listview" id="outer-ul">
	  <li> 
		<div data-role="collapsible" >
		  <h3>Pending Orders (<span id="pending_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="pending" > </ul>
		</div>
	  </li>
	  <li> 
		<div data-role="collapsible" >
		  <h3>In-process Orders (<span id="in-process_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="in-process" > </ul>
		</div>
	  </li>
	  <li> 
		<div data-role="collapsible" >
		  <h3>Completed Orders (<span id="completed_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="completed"  >   </ul>
		</div>
	  </li>
	</ul>
	<div id="myorderdiv">
	</div>
  </div>
</div>

<div data-role="page" id="retailer_cart_page" data-url="<%= request.path %>">
  <script>
	jQuery('#retailer_cart_page').live('pageinit',function(event){
	  //shoppingcart_display();
	});
	function changePage(){
	  jQuery(document).trigger('simpledialog', {'method':'close'});
	  if(globalCatId == null)
		$.mobile.changePage("#categpage");
	  else
		funcsub(globalCatId);
	}
  </script>
  <div data-theme="b" data-role="header">
	<a data-role="button" data-transition="reverse" data-rel="back" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left">
	  
	</a>
	<h3>
	  Order Details
	</h3>
  </div>
  <div data-role="content" class="white">
	<div id="retailer_purchaseditemlistdiv">
	</div>
  </div>
</div>
