 
 <script language="JavaScript" type="text/javascript" src="/js/retailer.js"></script>

<div data-role="page" id="order_page" data-base="<%= request.path %>" data-url="<%= request.path %>">
  <script>
	jQuery('#order_page').live('pageshow',function(event){
	  retailer_order();
	});
  </script>

  <div data-theme="b" data-role="header">
	<h3>
	  jiffeez - <%=@retailer.name%> - Orders
	</h3>
  </div>
  <div data-role="content" class="white">
	<ul data-role="listview" id="outer-ul">
	  <li> 
		<div data-role="collapsible" >
		  <h3>Pending Orders (<span id="pending_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="pending" > </ul>
		</div>
	  </li>
	  <li> 
		<div data-role="collapsible" >
		  <h3>In-process Orders (<span id="in-process_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="in-process" > </ul>
		</div>
	  </li>
	  <li> 
		<div data-role="collapsible" >
		  <h3>Completed Orders (<span id="completed_count"> 0 </span>) </h3>
		  <ul data-role="listview" id="completed"  >   </ul>
		</div>
	  </li>
	</ul>
	<div id="myorderdiv">
	</div>
  </div>
</div>

<div data-role="page" id="retailer_cart_page" data-url="<%= request.path %>">
  <script>
	jQuery('#retailer_cart_page').live('pageinit',function(event){
	  //shoppingcart_display();
	});
	function changePage(){
	  jQuery(document).trigger('simpledialog', {'method':'close'});
	  if(globalCatId == null)
		$.mobile.changePage("#categpage");
	  else
		funcsub(globalCatId);
	}
  </script>
  <div data-theme="b" data-role="header">
	<a data-role="button" data-transition="reverse" data-rel="back" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left">
	  
	</a>
	<h3>
	  Order Details
	</h3>
  </div>
  <div data-role="content" class="white">
	<div id="retailer_purchaseditemlistdiv">
	</div>
  </div>
</div>

