<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @retailer.name %>
</p>

<p>
  <b>Address:</b>
  <%= @retailer.address %>
</p>

<p>
  <b>Deliverytime:</b>
  <%= @retailer.deliveryTime %>
</p>

<p>
  <b>Weeklyexception:</b>
  <%= @retailer.weeklyException %>
</p>


<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
