html {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0;
	padding: 0px;
	/* [disabled]width: 1000px; */
	/* [disabled]text-align: center; */
	background-image: url(../images/bg.jpg);
	background-repeat: repeat-x;
	background-position: 0px 0px;
}
#wrapper {
	margin:0 auto;
	width: 1000px;
	position: relative;
}

img {
	display: block;
}
#banner {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 72px;
	color: #FFF;
	letter-spacing: 15px;
	position: absolute;
	top: 25px;
	right: 150px;
	text-shadow:2px 2px #000000;
	/* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=150, Color='#000000');  
}
#tagLine {
	font-family: Arial, Helvetica, sans-serif;
	color: #ffff99;
	font-weight: bold;
	letter-spacing: 1px;
	position: absolute;
	top: 120px;
	right: 215px;
	text-shadow:2px 2px #000000;
	/* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=150, Color='#000000'); 
}
#txt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 21px;
	color: #006699;
	letter-spacing: 1.5px;
	position: absolute;
	top: 200px;
	right: 200px;
	width: 400px;
	text-align: center;
	font-weight:bold;}
#txt span {
	font-size: 1.1em;
}
#more {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #006699;
	letter-spacing: 1.5px;
	position: absolute;
	right: 140px;
	top: 620px;
}
#more a {
	color: #333333;
	text-decoration: none;
}
#cTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	position: absolute;
	top: 700px;
	right: 100px;
}





html>body  #tagLine { 
      *right: 205px;
}
