<h1>Listing items</h1>

<table>
  <tr>
    <th>Cart_id</th>
    <th>Product_id</th>
	<th>Category_id</th>
	<th>Quantity</th>
	<th>Subcategory_name</th>
	<th>Product_name</th>
	<th>Brand_name</th>
	<th>Variant_name</th>
	<th>UOM</th>
	<th>Size of item</th>
    <th>Quantity</th>
    <th>Mrp</th>
    <th>Merchant price</th>
    <th>Discount</th>
    <th>Final price</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @items.each do |item| %>
  <tr>
    <td><%= item.cart_id %></td>
    <td><%= item.product_id %></td>
	<td><%= item.Category_id %></td>
	<td><%= item.quantity %></td>
	<td><%= item.item_subcateg_name %></td>
	<td><%= item.product_name %></td>
	<td><%= item.brand_name %></td>
	<td><%= item.variant_name %></td>
	<td><%= item.item_uom %></td>
	<td><%= item.item_size%></td>
    <td><%= item.quantity %></td>
    <td><%= item.mrp %></td>
    <td><%= item.merchant_price %></td>
    <td><%= item.discount %></td>
    <td><%= item.final_price %></td>
    <td><%= item.state %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, :confirm =>  'Are you sure?', :method =>  :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
