<p id="notice"><%= notice %></p>

<p>
  <b>Cart:</b>
  <%= @item.cart_id %>
</p>

<p>
  <b>Product:</b>
  <%= @item.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @item.quantity %>
</p>

<p>
  <b>Mrp:</b>
  <%= @item.mrp %>
</p>

<p>
  <b>Merchant price:</b>
  <%= @item.merchant_price %>
</p>

<p>
  <b>Discount:</b>
  <%= @item.discount %>
</p>

<p>
  <b>Final price:</b>
  <%= @item.final_price %>
</p>

<p>
  <b>State:</b>
  <%= @item.state %>
</p>


<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
