.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

.align-left { float:left; margin: 0 0 0 0; }

.white {background-color:#ffffff;} 

div.ex
{
width:%;
height:%;
padding:10px;
border:1px solid gray;
margin:5px;
border-radius: 5px;
}


.ui-icon-myapp-vegetable {
	background-image: url("iconvegetable.png");
}
