<%= form_for(@brand) do |f| %>
  <% if @brand.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@brand.errors.count, "error") %> prohibited this brand from being saved:</h2>

      <ul>
      <% @brand.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brandid %><br />
    <%= f.number_field :brandid %>
  </div>
  <div class="field">
    <%= f.label :subcid %><br />
    <%= f.number_field :subcategid %>
  </div>
  <div class="field">
    <%= f.label :cid %><br />
    <%= f.number_field :cid %>
  </div>
  <div class="field">
    <%= f.label :brandname %><br />
    <%= f.text_field :brandname %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </div>
  <div class="field">
    <%= f.label :Brand %><br />
    <%= f.text_field :Brand %>
  </div>
  <div class="field">
    <%= f.label :Product %><br />
    <%= f.text_field :Product %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
