<h1>Listing brands</h1>

<table>
  <tr>
    <th>Brandid</th>
    <th>Subcategid</th>
    <th>Cid</th>
    <th>Brandname</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brands.each do |brand| %>
  <tr>
    <td><%= brand.brandid %></td>
    <td><%= brand.subcategid %></td>
    <td><%= brand.cid %></td>
    <td><%= brand.brandname %></td>
    <td><%= brand.order %></td>
    <td><%= link_to 'Show', brand %></td>
    <td><%= link_to 'Edit', edit_brand_path(brand) %></td>
    <td><%= link_to 'Destroy', brand, :confirm=> 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brand', new_brand_path %>
