<p id="notice"><%= notice %></p>

<p>
  <b>Brandid:</b>
  <%= @brand.brandid %>
</p>

<p>
  <b>Subcid:</b>
  <%= @brand.subcid %>
</p>

<p>
  <b>Cid:</b>
  <%= @brand.cid %>
</p>

<p>
  <b>Brandname:</b>
  <%= @brand.brandname %>
</p>

<p>
  <b>Order:</b>
  <%= @brand.order %>
</p>

<p>
  <b>Brand:</b>
  <%= @brand.Brand %>
</p>

<p>
  <b>Product:</b>
  <%= @brand.Product %>
</p>


<%= link_to 'Edit', edit_brand_path(@brand) %> |
<%= link_to 'Back', brands_path %>
