<%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :subcategory %><br />
    <%= f.text_field :subcategory %>
  </div>
  <div class="field">
    <%= f.label :subcid %><br />
    <%= f.text_field :subcid %>
  </div>
  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :brand %><br />
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :brandid %><br />
    <%= f.text_field :brandid %>
  </div>
  <div class="field">
    <%= f.label :variant %><br />
    <%= f.text_field :variant %>
  </div>
  <div class="field">
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </div>
  <div class="field">
    <%= f.label :mrp %><br />
    <%= f.text_field :mrp %>
  </div>
  <div class="field">
    <%= f.label :sellprice %><br />
    <%= f.text_field :sellprice %>
  </div>
  <div class="field">
    <%= f.label :uom %><br />
    <%= f.text_field :uom %>
  </div>
  <div class="field">
    <%= f.label :rank %><br />
    <%= f.text_field :rank %>
  </div>
  <div class="field">
    <%= f.label :is_active %><br />
    <%= f.check_box :is_active checked_value = "1", unchecked_value = "0" %>
  </div>
  <div class="field">
    <%= f.label :is_promotion %><br />
    <%= f.check_box :is_promotion checked_value = "1", unchecked_value = "0" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
