
<!DOCTYPE html> 
<html>
  <head>
  <meta charset="utf-8" />
	<meta name="viewport" content="height=device-height,width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<!--        <meta name="viewport" content="width=device-width, initial-scale=1" /> -->
	<title>
	</title>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" /> 
	<link type="text/css" href="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog.min.css" rel="stylesheet" /> 
	<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css" />
	<!--<link rel="stylesheet"
				href="http://jquerymobile.com/branches/popup-widget/css/themes/default/jquery.mobile.css"/>-->

	<link rel="stylesheet" href="/styles/choose.css" />
	<style>
	  /* App custom styles */
	</style>
	<link href="http://jeromeetienne.github.com/jquery-mobile-960/css/jquery-mobile-960.min.css" />
	<link rel="stylesheet" href="http://msanjay.in/apps/jiffeez/public/styles/ninesixty/ninesixty.css">
	<!--		<link rel="stylesheet" href="/960/960-rtl.css">
			<link rel="stylesheet" href="/960/debug.css">
			<link rel="stylesheet" href="/960/reset.css">
			<link rel="stylesheet" href="http://msanjay.in/apps/jiffeez/public/960/styles.css"> -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
	</script>
    <script  type="text/javascript" src="http://msanjay.in/apps/jiffeez/public/js/jsrender.js"></script>
    
    <!-- AddThis Button BEGIN -->



	<!--        <script src="http://jquerymobile.com/branches/popup-widget/js/jquery.js"></script>
			<script src="http://jquerymobile.com/branches/popup-widget/js/"></script>-->

	<script>

	  var cookiecartid = "";
	  
	  jQuery(document).bind("mobileinit", function(){

		// $.mobile.autoInitializePage = false;

		//$.mobile.loadingMessageTextVisible = true;
		$.mobile.loadingMessage = 'Loading ....';
		$.mobile.pageLoadErrorMessage = 'Oops... You need a reliable internet connectiont to do this operation!'

		$.mobile.defaultPageTransition = 'none';

		$.mobile.defaultDialogTransition = 'none';

		//$.extend($.mobile.zoom, {locked:true,enabled:false});
		//$.mobile.allowCrossDomainPages = true;

		//$.mobile.ajaxEnabled = false;

		//$.mobile.pushStateEnabled = false;

		//$.mobile.hashListeningEnabled = false;

		//$.mobile.linkBindingEnabled = false;

	  }

	);

	</script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script> 

	<script type="text/javascript" src="http://dev.jtsage.com/cdn/simpledialog/latest/jquery.mobile.simpledialog2.js"></script>
	<!--	<script type="text/javascript" src="http://dev.jtsage.com/jQM-SimpleDialog/demos2/extras.js"></script> -->
	<script language="JavaScript" type="text/javascript" src="http://msanjay.in/apps/jiffeez/public/js/utils.js"></script>
	<script language="JavaScript" type="text/javascript" src="http://msanjay.in/apps/jiffeez/public/js/categprint.js"></script>
	<script language="JavaScript" type="text/javascript" src="http://msanjay.in/apps/jiffeez/public/js/jiffeez_consumer_init.js"></script>
	<script language="JavaScript" type="text/javascript" src="http://msanjay.in/apps/jiffeez/public/js/fastclick.js"></script>
  </head>
  <body onload="initFastButtons()">
	<span id="fastclick">

<script id="tmplSelectOpts" type="text/x-jsrender">
	<fieldset data-role="controlgroup" data-theme="c">
	  {{for #data.opts}}
	  <input type="radio" rel='close' data-theme="c" class="clsSelectOpts" name="radio-choice-options" id="radio-choice-{{:#index}}" value="{{:#data.value}}"/>
		  <label data-theme="c" for="radio-choice-{{:#index}}">{{:#data.text}}</label>
	  {{/for}}
	</fieldset>
</script>

<script id="tmplShowBrands" type="text/x-jsrender">
	  {{for #data.brandOfSub}}
	  <li>
		<div data-role="collapsible" data-inset="false" id="collapbrand:{{:brandid}}" name="collapsebrand">
		<h1>{{:brandname}}</h1>
		<ul id="brand{{:brandid}}" data-role="listview" data-filter="true">
		</ul></div>
	  </li>
	  {{/for}}
</script>

<div data-role="page" id="categpage">
  <script>
	cookiecartid = "<%=session["cart_id"]%>";
	
	//jQuery(document).ready(
	/*
	jQuery('#categpage').live('pageshow',function(event){
	  $('.ui-dialog').dialog('close');
	  console.log ('trying to close');
	  //$(document).find('[data-role="dialog"]:visible').dialog('close');
	  //$(document).trigger('simpledialog2', {'method':'close'});
	});
	*/
   
   jQuery('#categpage').live('pageshow',function(event){
	 
	 //	ensure the shopping cart is updated whenever this page shows up
	 //shopping_categpage();
   });
   
	jQuery('#categpage').live('pageinit',function(event){
	  
	  //function(){									//Used to list the categories
	  //	localStorage.clear(); 							//To clear the local storage if new values are to be added
	  if(cookiecartid == ""){							//not loggedin
		alert("Not logged in");
		$.mobile.changePage("/shoppers/login");
	  }
	  else{
		if(!jQuery.isEmptyObject(allcateg)){
		  jQuery.mobile.changePage("#categpage");
		  print_categ_link(allcateg);
		}
		else if("Categories" in localStorage){
		  allcateg = JSON.parse(localStorage.getItem("Categories"));
		  jQuery.mobile.changePage("#categpage");
		  print_categ_link(allcateg);
		}
		else{
		  $.get("/products/choose",function(data){		//This 'get' method uses the controller to get all data from the server
			allcateg = data;
			localStorage.setItem("Categories",JSON.stringify(allcateg));
			jQuery.mobile.changePage("#categpage");
			print_categ_link(allcateg);
		  },'JSON');
		}
	  }
	});
	
  </script>

  <div data-theme="b" data-role="header" data-position="fixed">
	<!--	<h3><div class="mainheaderbar"> <a class="logo" href="#categpage" ><p id="logo">Jiffeez</p></a></div> </h3> -->
	<h3 class="mainheaderbar"><img src='/images/jiffeez_logo_25.png' style='display:inline-block;float:left;margin-left:5px'></h3>
	<!--<img src="/images/jiffeez_small_logo_25.png"/>-->
	<!--        <a data-role="button" data-rel="back" data-transition="reverse" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left" onclick='$.mobile.changePage("#categpage"); return false;' > 
	<a data-role="button" data-iconpos="left" data-transition="reverse" data-theme="e" data-icon="jiffeez" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > -->

	<div class="ui-btn-right jf-toolbar-right">
	  
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" data-inline="true"> 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important" data-inline="true"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>

	</div>
  </div>
  <div data-role="content" class="white" id="ref_for_categ">
  </div>
</div>


<div data-role="page" id="itempage">
  <script>
	var globalCatId;
	
	$(document).trigger('simpledialog', {'method':'close'});
	
	jQuery('#itempage').live('pageinit',function(event){
	  if(globalCatId == null)
		$.mobile.changePage("#categpage");
	  else
		funcsub(globalCatId);
	});

  </script>
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3 class="mainheaderbar">Select Items</h3>
	
	<!--<img src="/images/jiffeez_small_logo_25.png"/>-->
	<!--        <a data-role="button" data-rel="back" data-transition="reverse" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left" onclick='$.mobile.changePage("#categpage"); return false;' > 
	<a data-role="button" data-iconpos="left" data-transition="reverse" data-theme="e" data-icon="jiffeez" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > -->
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>

	</div>
  </div>
  
  <div data-role="content" id="list1" class="white">
  </div>
</div>

<div data-role="page" id="shoppingcart_page">
  <script>
	/*jQuery('#shoppingcart_page').live('pageinit',function(event){
	  shoppingcart_display();
	
	function changePage(){
	  jQuery(document).trigger('simpledialog', {'method':'close'});
	  if(globalCatId == null)
		$.mobile.changePage("#categpage");
	  else
		funcsub(globalCatId);
	}*/
  </script>
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3 class="mainheaderbar">Shopping Cart</h3>
	
	<!--<img src="/images/jiffeez_small_logo_25.png"/>-->
	<!--        <a data-role="button" data-rel="back" data-transition="reverse" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left" onclick='$.mobile.changePage("#categpage"); return false;' > 
	<a data-role="button" data-iconpos="left" data-transition="reverse" data-theme="e" data-icon="jiffeez" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > -->
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#" onclick='return false;'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>

	</div>
  </div>
  <div data-role="content" class="white">
	<div id="purchaseditemlistdiv">
	</div>
  </div>
</div>

<div data-role="page" id="moreSubcatPage">
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3 id="moreSubcatHeader">

	</h3>
  </div>
  <div data-role="content" id="moreSubcatContent" class="white">
  </div>
</div>

<div data-role="page" id="checkout_page">
  <div data-theme="b" data-role="header"  data-position="fixed">
	<h3 class="mainheaderbar">Confirm Order</h3>
	
	<!--<img src="/images/jiffeez_small_logo_25.png"/>-->
	<!--        <a data-role="button" data-rel="back" data-transition="reverse" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left" onclick='$.mobile.changePage("#categpage"); return false;' > 
	<a data-role="button" data-iconpos="left" data-transition="reverse" data-theme="e" data-icon="jiffeez" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > -->
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>
	</div>
  </div>
  <div data-role="content" class="white" id="confirmorderdiv">
	<div id="confirmorderdiv">
	</div> 
  </div>
</div>

<div data-role="page" id="placeorder_page">
  <div data-role="popup" id="ack_order_div" data-overlay-theme="a" data-theme="b" style="max-width:400px;" class="ui-corner-all">
	  <!--
      <div data-role="header" data-theme="b" class="ui-corner-top">
		  <h1>Order Placed</h1>
	  </div>
	  -->
	  <div data-role="content" data-theme="b" class="ui-corner-bottom ui-content white">
		
		<div style="padding:5px">
		  <p><span id='ordPlacedDate'></span></p>
		  <h3 class="ui-title">Order #<span  id='ordShortId'></span></h3>
		  <p><strong>Amount:</strong> <span id='ordAmount'></span></p>
		  <p><strong>Estimated delivery:</strong></p>
		  <p><span id='ordDeliveryDate'></span></p>
		 </div>
		<a href="#categpage" data-role="button" data-inline="true" data-transition="flow" data-theme="e">OK</a>
	  </div>
  </div>
</div>


<div data-role="page" id="placeorder_page_unused">
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3 class="mainheaderbar">Place Order</h3>
	
	<!--<img src="/images/jiffeez_small_logo_25.png"/>-->
	<!--        <a data-role="button" data-rel="back" data-transition="reverse" data-theme="e" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left" onclick='$.mobile.changePage("#categpage"); return false;' > 
	<a data-role="button" data-iconpos="left" data-transition="reverse" data-theme="e" data-icon="jiffeez" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > -->
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>
	</div>
  </div>
  <div data-role="content" class="white">
	<div id="myorderdiv">
	</div>
  </div>
</div>

<div data-role="page" id="shopper_myorders_page" data-position="fixed">
  <script>
	jQuery('#shopper_myorders_page').live('pageinit',function(event){
	  shopping_myorders();
	  console.log("loading my orders...");
	  //shopper_myorders();
	});
  </script>
  <div data-theme="b" data-role="header">
	<h3 class="mainheaderbar">My Orders (<span id="orders_count">0</span>)</h3>
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>
	</div>
  </div>

  <div data-role="content" class="white">
	<div>
	  <ul data-role="listview" id="orders_list" data-inset="true" > </ul>
	</div>
 </div>
</div>

<!-- based on shoppingcart_page -->
<div data-role="page" id="viewmyorder_page">
  <script>
	jQuery('#viewmyorder_page').live('pageinit',function(event){
	  shopping_myorder();
	  //shoppingcart_display();
	});
  </script>
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3 class="mainheaderbar">My Order</h3>
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>
	</div>
  </div>
  <div data-role="content" class="white">
	<div id="myOrderItemsListDiv">
	</div>
	<a data-role="button" data-transition="reverse"  data-theme="e"  data-icon="arrow-l" data-iconpos="notext" onclick='$.mobile.changePage("#shopper_myorders_page"); return false;' >
	  Back
	</a>
  </div>
</div>

<!-- favorites -->
<div data-role="page" id="favorites_page">
  <script>
	jQuery('#favorites_page').live('pageinit',function(event){
	  shopping_favorites(); 
	  showMyFavoriteOrders();
	  //shoppingcart_display();
	});
  </script>
  <div data-theme="b" data-role="header" data-position="fixed">
	<h3>
	  My Favorites
	</h3>
	<a data-role="button" data-direction="reverse" data-transition="slide" data-theme="e" href="#categpage" data-add-back-btn="true" data-icon="arrow-l" data-iconpos="left">
	  <!--Back-->&nbsp;
	</a>
	<a data-role='button' data-mini="true" data-icon="shopping-cart"  data-theme='e'   onclick='shoppingcart_display()' href='#shoppingcart_page' > <span id="favoriteslist"> </span></a>
	</a>
  </div>
  <div data-role="content" class="white">
	<div id="myFavoriteItemsListDiv">
	</div>
  </div>
</div>

<!-- favorites -->
<div data-role="page" id="jiffeez_about">
  <div data-theme="b" data-role="header">
	<h3 class="mainheaderbar">About Jiffeez <%= Rails.configuration.jiffeez_version %></h3>
	<a class="jf-tight-space jf-btn-header" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#categpage" onclick='$.mobile.changePage("#categpage"); return false;' > 
	  <img src="/images/jiffeez_small_logo_25.png" style="display: inline;padding: 1px 10px; height:20px;"/>
	</a>
	<div class="ui-btn-right">
	  <a class="jf-tight-space jf-btn-header opendialog" data-corners="true" data-role="button" data-transition="reverse" data-theme="e" href="#" > 
		<img src="/images/menu_icon_24.png" style="display: inline;padding: 1px 2px; height:20px;"/>
	  </a>
	  <a class="jf-tight-space jf-btn-header" data-role="button" style="vertical-align: top!important"
		 data-theme="e" href="#shoppingcart_page" onclick='shoppingcart_display()'> 
		<img src="/images/shopping_cart_25.png" style="float:left; padding: 1px 2px; height:20px;"/>
		<span style="margin:5px; display:inline-block" class="clsCartSummary">&nbsp;</span>
	  </a>
	</div>
  </div>
  <div data-role="content" class="white">
	<div style="padding:15px">
	  <p>
	  We are a cutting-edge
	  digital commerce enabling company,
	  focussed on Fast Moving Consumer Goods.
	  We help Retailers, Consumers & Companies unlock
	  the benefits of digital commerce.
	  We are currently in the alpha stage with the first of our innovative services – 
	  India's first exclusively Mobile based
	  grocery shopping experience. 
	  </p>
	  <p>
		To know more, drop us a note at <a href="mailto:info@jiffeez.com?subject=jiffeez%20<%= Rails.configuration.jiffeez_version%>">info@jiffeez.com</a>
	  </p>
	</div>
	<a data-role="button" data-transition="reverse" data-rel="back" data-theme="e"  data-icon="arrow-l" data-iconpos="notext" >
	  Back
	</a>
  </div>
</div>

