<script type="text/javascript">

$(function() {
  $(".chkIsActive").change(function() {
	window.location.href="/products?active=" + $(this).val();
  });
  
  $(".chkIsPromo").change(function() {
	window.location.href="/products?promo=" + $(this).val();
  });
});

</script>
<div data-role="page" id="page0">
		<div data-theme="a" data-role="header">
			<h1>Listing products</h1>
		</div>
	<div data-theme="a" data-role="content">

<table>
  <tr>
    <th>Category</th>
    <th>Subcategory (id) </th>
    <th>Brand</th>
	<th>Variant</th>
    <th>Size</th>
    <th>Mrp</th>
    <th>Sellprice</th>
	<th>Active</th>
	<th>Promo</th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.category %></td>
    <td><%= product.subcategory %> <%=product.subcid%></td>
    <td><%= product.brand %> <%=product.brandid%></td>
	<td><%= product.variant %></td>
    <td><%= product.size %></td>
    <td><%= product.mrp %></td>
    <td><%= product.sellprice %></td>
	<td><%= product.is_active %></td>
	<td><%= product.is_promotion %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, :confirm=> 'Are you sure?', :method=> :delete %></td>
  </tr>
<% end %>
</table>

	  <%= will_paginate @products %>
	  
<br />

<%= link_to 'New product', new_product_path %>&nbsp&nbsp<%= link_to 'Choose a category', choose_products_path %>

	</div>
</div>
