<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @product.subcategory %>
</p>

<p>
  <b>Subcategory ID:</b>
  <%= @product.subcid%>
</p>
<p>
  <b>Product:</b>
  <%= @product.product %>
</p>

<p>
  <b>Brand:</b>
  <%= @product.brand %>
</p>
<p>
  <b>Brand ID:</b>
  <%= @product.brandid %>
</p>

<p>
  <b>Variant:</b>
  <%= @product.variant %>
</p>

<p>
  <b>Size:</b>
  <%= @product.size %>
</p>

<p>
  <b>Mrp:</b>
  <%= @product.mrp %>
</p>

<p>
  <b>Sellprice:</b>
  <%= @product.sellprice %>
</p>

<p>
  <b>Uom:</b>
  <%= @product.uom %>
</p>

<p>
  <b>Rank:</b>
  <%= @product.rank %>
</p>

<p>
  <b>Is Active:</b>
  <%= @product.is_active %>
</p>

<p>
  <b>Promotion:</b>
  <%= @product.is_promotion %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
