<!DOCTYPE html>
<html>
  <head>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>
	</title>
	<meta name=viewport content="user-scalable=no,width=device-width" />
	<link rel=stylesheet href=http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css />
	<script src=http://code.jquery.com/jquery-1.6.min.js></script>
	<script src=http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js>
			<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<link rel="stylesheet" href="styles/choose.css" />
	<style>
	  /* App custom styles */
	</style>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
	</script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js">
	</script>
  </head>
  <body>

	<%= yield %>

  </body>
</html>
